---
layout: default
title: Noah Kiser Projects
---
<div class="posts">
	<h1>List of Projects:</h1>
	<ul>
	
	  {% for post in site.posts %}
		{% if post.project %}
	    <li style="display:inline-block;text-align:center;margin-right:20px;margin-bottom:30px;vertical-align:middle;">
			<a href="{{ post.url }}" title="{{ post.title }}">
			{% if post.thumbnail %}
				<img src="{{ post.thumbnail }}" alt="{{ post.title }}" style="height:4in;max-width:70vw;">
				<br>
			{% endif %}
			{{ post.title }}</a>
		</li>
		{% endif %}
	  {% endfor %}
	</ul>
</div>