---
layout: default
title: Noah Kiser Projects
---
	<h1>List of Projects:</h1>
	<ul class="posts">
	
	  {% for post in site.posts %}
		{% if post.project %}
	    <li style="display:inline-block;padding-right:1em;text-align:center">
			<a href="{{ post.url }}" title="{{ post.title }}">
			{% if post.thumbnail %}
				<img src="/assets/{{ post.project }}/{{ post.thumbnail }}" alt="{{ post.project }}: {{ post.thumbnail }}" style="width:3in">
				<br>
			{% endif %}
			{{ post.title }}</a>
		</li>
		{% endif %}
	  {% endfor %}
	</ul>