<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		
            <div class="nav" style="border: none" >
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
			<br>
			<h1> More Updates Coming Soon! </h1>
			<br>
			<div class="container" >
			
			{{ content }}
			
			</div><!-- /.container -->
			<div class="footer">
	    		<ul>
	        		<li><a href="mailto:contact@noahkiser.com">contact@noahkiser.com</a></li>
	        		<li><a href="https://github.com/NCKiser">github.com/NCKiser</a></li>
				</ul>
			</div>
		</body>
	</html>
